@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
ion-title{
    font-family: 'Poppins', sans-serif;
}
ion-content{
    --background:linear-gradient(to right, #386174, #274b9b);
    margin-left: 20%;
}
.center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
