<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>post3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Card1-->
<ion-card class="homepost">
  <ion-item>
    <ion-avatar>
      <img src="../assets/profile.jpeg">
    </ion-avatar>
    <ion-label>Mark Joenas</ion-label>
  </ion-item>
  <img src="./assets/s3.jpg" />
  <!--Post Profile-->

<!--Post Title-->
<ion-card-title color="primary">
  Shoes 3
</ion-card-title>
 <!--Post Title-->
 
 
 <!--Post Caption--> 
 <ion-card-content><p>
  A Good Shoes
</p></ion-card-content>
<!--Post Caption-->

<!--Likes-->
<ion-row>
  <ion-col>
    <ion-buttons>
      <ion-button>
      <ion-icon name="heart"></ion-icon>
    </ion-button>
    </ion-buttons>
    <div>12 Likes</div>
  </ion-col>
</ion-row>
<!--Likes-->

</ion-card>
<!--Card1-->

</ion-content>