<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<ion-header>
<ion-toolbar>
  <ion-buttons slot="start" [routerLink]="['/frontscreen']">
    <ion-icon name="return-down-back-outline"></ion-icon>
  </ion-buttons>
 <ion-label>Login</ion-label>
</ion-toolbar>
</ion-header>


<ion-content>
<center>
  <img src="assets/logo.png" alt="">
</center>



<ion-button
              type="submit"
              color="light"
              (click)="authService.GoogleAuth()"
              expand="">Log in with &nbsp;
            <ion-icon name="logo-google"></ion-icon>
</ion-button>



<div class="ion-text-center">
<ion-label color="light">Sneaker App</ion-label>
</div>

</ion-content>