

ion-content{
  font-family: 'Square Peg', cursive;
  --background:linear-gradient(to right, #386174, #274b9b);
  img{
    width: 50%;
    margin-top: 5%;
  }
}
.ion-text-center{
  font-size: 50px;
  justify-content: center;
}
ion-button{
  width: 50%;
  margin-top: 0%;
  margin-left: 25%;
}
.ion-justify-content-center{
width: 50%;
}
ion-label{
  margin-left:6%;
}